USE [master]
GO
/****** Object:  Database [CarShowroomDb]    Script Date: 01.01.2025 18:27:47 ******/
CREATE DATABASE [CarShowroomDb]
GO
USE [CarShowroomDb]
GO
/****** Object:  Table [dbo].[BodyType]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyType](
	[BodyTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BodyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarVIN] [nvarchar](17) NOT NULL,
	[Color] [nvarchar](20) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[YearOfManufacture] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Photo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarVIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarShowroomAddress]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarShowroomAddress](
	[CarShowroomAddressId] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[CarShowroomAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarStatus]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarStatus](
	[CarStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[ContractId] [int] NOT NULL,
	[DateCreate] [datetime] NULL,
	[DateOfTransaction] [datetime] NULL,
	[PaymentTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EngineType]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EngineType](
	[EngineTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EngineTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ModelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Length] [decimal](18, 0) NOT NULL,
	[Width] [decimal](18, 0) NOT NULL,
	[Height] [decimal](18, 0) NOT NULL,
	[DoorsCount] [int] NOT NULL,
	[EngineVolume] [decimal](18, 0) NOT NULL,
	[BrandId] [int] NOT NULL,
	[GenerationId] [int] NOT NULL,
	[BodyTypeId] [int] NOT NULL,
	[EngineTypeId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModelGeneration]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModelGeneration](
	[ModelGenerationId] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelGenerationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passport]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passport](
	[PassportId] [int] IDENTITY(1,1) NOT NULL,
	[Serial] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[IssuedBy] [nvarchar](200) NOT NULL,
	[IssuedPlace] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PassportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[PaymentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[DateCreate] [datetime] NULL,
	[StatusId] [int] NULL,
	[CarId] [nvarchar](17) NULL,
	[CustomerId] [int] NULL,
	[EmployeeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatus]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatus](
	[RequestStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 01.01.2025 18:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BodyType] ON 

INSERT [dbo].[BodyType] ([BodyTypeId], [Name]) VALUES (1, N'Седан')
INSERT [dbo].[BodyType] ([BodyTypeId], [Name]) VALUES (2, N'Хэтчбек')
INSERT [dbo].[BodyType] ([BodyTypeId], [Name]) VALUES (3, N'Универсал')
SET IDENTITY_INSERT [dbo].[BodyType] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (1, N'Toyota')
INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (2, N'Ford')
INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (3, N'BMW')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[CarShowroomAddress] ON 

INSERT [dbo].[CarShowroomAddress] ([CarShowroomAddressId], [Address]) VALUES (1, N'г. Москва, ул. Ленина, д. 10')
INSERT [dbo].[CarShowroomAddress] ([CarShowroomAddressId], [Address]) VALUES (2, N'г. Тула, пр. Ленина, д. 25
')
INSERT [dbo].[CarShowroomAddress] ([CarShowroomAddressId], [Address]) VALUES (3, N'г. Рязань, ул. Советская, д. 42
')
SET IDENTITY_INSERT [dbo].[CarShowroomAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[CarStatus] ON 

INSERT [dbo].[CarStatus] ([CarStatusId], [Name]) VALUES (1, N'Новая')
INSERT [dbo].[CarStatus] ([CarStatusId], [Name]) VALUES (2, N'В заявке')
INSERT [dbo].[CarStatus] ([CarStatusId], [Name]) VALUES (3, N'Продана')
SET IDENTITY_INSERT [dbo].[CarStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([ClassId], [Name]) VALUES (1, N'Компактный')
INSERT [dbo].[Class] ([ClassId], [Name]) VALUES (2, N'Средний')
INSERT [dbo].[Class] ([ClassId], [Name]) VALUES (3, N'Премиум')
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
INSERT [dbo].[Contract] ([ContractId], [DateCreate], [DateOfTransaction], [PaymentTypeId]) VALUES (8, CAST(N'2024-12-25T14:09:03.127' AS DateTime), CAST(N'2024-12-25T14:09:03.127' AS DateTime), 1)
INSERT [dbo].[Contract] ([ContractId], [DateCreate], [DateOfTransaction], [PaymentTypeId]) VALUES (9, CAST(N'2024-12-28T14:37:07.123' AS DateTime), CAST(N'2024-12-28T14:37:07.123' AS DateTime), 3)
INSERT [dbo].[Contract] ([ContractId], [DateCreate], [DateOfTransaction], [PaymentTypeId]) VALUES (10, CAST(N'2024-12-28T14:36:23.623' AS DateTime), CAST(N'2024-12-28T14:36:23.623' AS DateTime), 2)
GO
SET IDENTITY_INSERT [dbo].[EngineType] ON 

INSERT [dbo].[EngineType] ([EngineTypeId], [Name]) VALUES (1, N'Бензиновый')
INSERT [dbo].[EngineType] ([EngineTypeId], [Name]) VALUES (2, N'Дизель')
INSERT [dbo].[EngineType] ([EngineTypeId], [Name]) VALUES (3, N'Гибрид')
SET IDENTITY_INSERT [dbo].[EngineType] OFF
GO
SET IDENTITY_INSERT [dbo].[Model] ON 

INSERT [dbo].[Model] ([ModelId], [Name], [Length], [Width], [Height], [DoorsCount], [EngineVolume], [BrandId], [GenerationId], [BodyTypeId], [EngineTypeId], [ClassId]) VALUES (1, N'Camry', CAST(5000 AS Decimal(18, 0)), CAST(2100 AS Decimal(18, 0)), CAST(1100 AS Decimal(18, 0)), 4, CAST(2 AS Decimal(18, 0)), 1, 1, 1, 1, 2)
INSERT [dbo].[Model] ([ModelId], [Name], [Length], [Width], [Height], [DoorsCount], [EngineVolume], [BrandId], [GenerationId], [BodyTypeId], [EngineTypeId], [ClassId]) VALUES (2, N'Focus', CAST(4900 AS Decimal(18, 0)), CAST(1950 AS Decimal(18, 0)), CAST(950 AS Decimal(18, 0)), 4, CAST(2 AS Decimal(18, 0)), 2, 2, 2, 1, 1)
INSERT [dbo].[Model] ([ModelId], [Name], [Length], [Width], [Height], [DoorsCount], [EngineVolume], [BrandId], [GenerationId], [BodyTypeId], [EngineTypeId], [ClassId]) VALUES (3, N'X5', CAST(5050 AS Decimal(18, 0)), CAST(2050 AS Decimal(18, 0)), CAST(1950 AS Decimal(18, 0)), 5, CAST(3 AS Decimal(18, 0)), 3, 3, 4, 1, 3)
SET IDENTITY_INSERT [dbo].[Model] OFF
GO
SET IDENTITY_INSERT [dbo].[ModelGeneration] ON 

INSERT [dbo].[ModelGeneration] ([ModelGenerationId], [Number], [ReleaseDate]) VALUES (1, 2021, CAST(N'2021-01-15T00:00:00.000' AS DateTime))
INSERT [dbo].[ModelGeneration] ([ModelGenerationId], [Number], [ReleaseDate]) VALUES (2, 2022, CAST(N'2022-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[ModelGeneration] ([ModelGenerationId], [Number], [ReleaseDate]) VALUES (3, 2023, CAST(N'2023-03-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ModelGeneration] OFF
GO
SET IDENTITY_INSERT [dbo].[Passport] ON 

INSERT [dbo].[Passport] ([PassportId], [Serial], [Number], [BirthDate], [IssueDate], [IssuedBy], [IssuedPlace]) VALUES (1, 1234, 789012, CAST(N'1990-01-15T00:00:00.000' AS DateTime), CAST(N'2010-05-20T00:00:00.000' AS DateTime), N'Отделение УФМС', N'Москва')
INSERT [dbo].[Passport] ([PassportId], [Serial], [Number], [BirthDate], [IssueDate], [IssuedBy], [IssuedPlace]) VALUES (2, 1234, 210987, CAST(N'1985-07-22T00:00:00.000' AS DateTime), CAST(N'2015-11-10T00:00:00.000' AS DateTime), N'Отделение УФМС', N'Санкт-Петербург')
INSERT [dbo].[Passport] ([PassportId], [Serial], [Number], [BirthDate], [IssueDate], [IssuedBy], [IssuedPlace]) VALUES (3, 1234, 333444, CAST(N'2000-03-30T00:00:00.000' AS DateTime), CAST(N'2020-01-15T00:00:00.000' AS DateTime), N'Отделение УФМС', N'Екатеринбург')
SET IDENTITY_INSERT [dbo].[Passport] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

INSERT [dbo].[PaymentType] ([PaymentTypeId], [Name]) VALUES (1, N'Наличные')
INSERT [dbo].[PaymentType] ([PaymentTypeId], [Name]) VALUES (2, N'Автокредит')
INSERT [dbo].[PaymentType] ([PaymentTypeId], [Name]) VALUES (3, N'Банковский счет')
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([RequestId], [DateCreate], [StatusId], [CarId], [CustomerId], [EmployeeId]) VALUES (8, CAST(N'2024-12-23T18:54:12.107' AS DateTime), 4, N'1HGCM82633A123456', 4, 1)
INSERT [dbo].[Request] ([RequestId], [DateCreate], [StatusId], [CarId], [CustomerId], [EmployeeId]) VALUES (9, CAST(N'2024-12-28T14:32:11.813' AS DateTime), 4, N'1HGCM82633A123458', 5, 1)
INSERT [dbo].[Request] ([RequestId], [DateCreate], [StatusId], [CarId], [CustomerId], [EmployeeId]) VALUES (10, CAST(N'2024-12-28T14:32:22.247' AS DateTime), 4, N'1HGCM82633A123459', 5, 1)
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestStatus] ON 

INSERT [dbo].[RequestStatus] ([RequestStatusId], [Name]) VALUES (1, N'Создана')
INSERT [dbo].[RequestStatus] ([RequestStatusId], [Name]) VALUES (2, N'На рассмотрении')
INSERT [dbo].[RequestStatus] ([RequestStatusId], [Name]) VALUES (3, N'Отклонена')
SET IDENTITY_INSERT [dbo].[RequestStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Сотрудник')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [MiddleName], [RoleId], [Login], [Password], [IsActive]) VALUES (1, N'Иван', N'Иванов', N'Иванович', 1, N'admin', N'admin', 1)
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [MiddleName], [RoleId], [Login], [Password], [IsActive]) VALUES (2, N'Петр', N'Петров', N'Петрович', 2, N'petrov', N'password456', 1)
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [MiddleName], [RoleId], [Login], [Password], [IsActive]) VALUES (3, N'Сергей', N'Сергеев', N'Сергеевич', 2, N'sergeev', N'password789', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__5E55825B77378D6A]    Script Date: 01.01.2025 18:27:47 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([ModelId])
REFERENCES [dbo].[Model] ([ModelId])
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[CarStatus] ([CarStatusId])
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD FOREIGN KEY([ContractId])
REFERENCES [dbo].[Request] ([RequestId])
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentType] ([PaymentTypeId])
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD FOREIGN KEY([BodyTypeId])
REFERENCES [dbo].[BodyType] ([BodyTypeId])
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([BrandId])
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD FOREIGN KEY([EngineTypeId])
REFERENCES [dbo].[EngineType] ([EngineTypeId])
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD FOREIGN KEY([GenerationId])
REFERENCES [dbo].[ModelGeneration] ([ModelGenerationId])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK__Request__CarId__0E6E26BF] FOREIGN KEY([CarId])
REFERENCES [dbo].[Car] ([CarVIN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK__Request__CarId__0E6E26BF]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[RequestStatus] ([RequestStatusId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [User___FK___Passport] FOREIGN KEY([UserId])
REFERENCES [dbo].[Passport] ([PassportId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [User___FK___Passport]
GO
USE [master]
GO
